body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

 
}
.body-section{
	background-color: rgb(236, 240, 242);
	width: 100%;
	overflow: hidden
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

.loginpage{
	background-image: url("https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:80vh;
	font-family: 'Noto Sans', sans-serif;
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 50px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:55%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:60px 100px 10px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
    width: 100%;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
   	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  margin-top: 30px;
  padding:5px 12px;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.register-link{
   
	font-size:14px;
	color:#fff;	
    margin-top: 20px;
 
}
.login-btn{
	color:#fff;
	background-color:#55d03f;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:30px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
/*------------header-----------------*/
.header-position{
	position: sticky;
	z-index: 5;
	top: 0%;
	background-color: #ffffff;
	width: 100%;
}
.navbar{
	border-bottom: 1px solid rgb(220, 218, 216);
	box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2);
}

/*------------------ Footer------------ */
.footer{
	width: 100%;
	height: auto;
	top: 95vh;
	
}
.footer-main{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}
.footer-main-lgscreen{
	width: 100%;
	height: auto;
	color: #fff;
	
}
.footer-section ul{
	list-style: none;
	text-decoration: none; /* Removes underline */
	color: inherit;
	line-height: 25px;
}
.contact-info{
	line-height: 20px;
}
@media (max-width:630px){
	.footer{
		width: 100%;
		height: auto;
		position: fixed;
		top: 95vh;
		
	}
	.footer-main{
		width: 100%;
		padding: 7px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: #ffffff;
	}	
	.footer-main-lgscreen{
		display: none;
		
	}
	
}
@media (min-width:670px){
	
	.footer-main{
		display: none;
		
	}
		
	}

/*-------------- load More -----------------*/
.loadMore{
	display: flex;
	flex-direction: row-reverse;
	margin: 15px;
	padding-bottom: 20px;
	
	
}

/* -----------------Home price--------------- */

.price{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
/*-------------filter-section--------------*/
.filter-section{
	background-color: #fff;
}
/*-----------card-------------- */

.card-product {
	
	
	background-color: #fff;
  }
  

.product-main{
	padding: 0%;
	text-decoration: none;
	height: 250px;
	width: 250px;
	background-color: #fff;
	border-bottom: 2px solid rgb(191, 189, 189);
}
.product{
	height: 250px;
	width: 250px;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	color: black;
}
.product-img{
	width: 100%;
	height: 80%;
}
.product-row{
	background-color: #fff;
}
@media(max-width:630px){
	.product-main{
		padding: 0%;
		text-decoration: none;
		height: 160px;
		width: 160px;
		background-color: #fff;
		border-bottom: 2px solid rgb(191, 189, 189);
	}
	.product{
		height: 160px;
		width: 160px;
		border: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
		color: black;
	}
}

/*--------------price filter--------------------*/

  
  .select-box select {
	background-color: rgb(243, 236, 227);
	color: rgb(46, 60, 210);
	padding-left: 20px;
	width: 90px;
	border: none;
	font-size: 18px;
	outline: none;
  }
  .select-box select ::after{
	background-color: rgb(243, 236, 227);
	color: rgb(46, 60, 210);
	padding-left: 8px;
	
	width: 120px;
	border: none;
	font-size: 16px;
	outline: none;
  }
  /*-----------scrolling horizontal------------------*/
  .horizontal-scroll{

  }
  .horizontal-bar {
	width: 100%;
    display: flex; /* Align items horizontally */
    overflow-x: auto; /* Enable horizontal scrolling if items overflow */
    white-space: nowrap; /* Prevent line breaks */
	background-color:#fff; /* Background color of the bar */
    padding: 10px; /* Padding inside the bar */
   
}

.item {
    flex: 0 0 auto; /* Prevent items from shrinking */
    margin-right: 18px; /* Space between items */
    padding: 2px 6px; /* Padding inside each item */
   border-radius: 5px;
    color:black; /* Text color */
	font-weight: bold;
    border-radius: 5px; /* Rounded corners for items */
    text-align: center; /* Center the text inside the items */
	width: 4.5rem;
	height: 4rem;
	
}
.item img{
	width: 3rem;
	height: 3rem;
	margin-bottom: 2px;
	
	filter: drop-shadow(0.6rem 0.6rem 1rem rgba(255, 255, 255, 0.8));
}


/* Optional: Last item should not have a right margin */
.item:last-child {
    margin-right: 0;
}

/* Custom scrollbar styles */
.horizontal-bar::-webkit-scrollbar {
    height: 8px; /* Height of the horizontal scrollbar */
}
/*------------cart-add-more------------*/

.cart-add-more{
display: flex;
justify-content: right;

position: relative;
}
.cart-add-more button{
	padding: 8px 40px;
	font-size: 18px;
	border: none;
	outline: none;
	background-color:#ff7722;
	position: sticky;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
}
.cart-payment-btn button{
	padding: 8px 40px;
	font-size: 18px;
	border: none;
	outline: none;
	
	position: sticky;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
}
/*------------------------order page-------------*/
@media (max-width:630px){
	
	.orderpage-filter{
		display: none;
		
	}
		
	}
/*---------------profile-page-----------------*/
.profile-page h6:hover{
 color: rgb(30, 153, 112);
}

